# Application Configuration
APP_PORT=

# PostgreSQL Database Configuration
# Default PostgreSQL port is 5432
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Xendit Payment Gateway Configuration
XENDIT_API_KEY=
XENDIT_CALLBACK_TOKEN=